@model IEnumerable<Movie>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movies</h1>

    @Html.ActionLink("Create movie", "AddMovie", new { }, new { @class = "badge badge-secondary" })
    <br />
    <table class="table">
        <tr>
            <th>Movie name</th>
            <th>Writer</th>
            <th>Genre</th>
            <th>Released on</th>
            <th>#</th>
            <th>#</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Name</td>
                <td>@movie.Writer</td>
                <td>@movie.Genre</td>
                <td>@movie.ReleasedOn.ToString("dd/MM/yyyy")</td>
                <td>@Html.ActionLink("Update movie", "UpdateMovie", new { movie.MovieId }, new { @class = "badge badge-info" })</td>
                <td>@Html.ActionLink("Delete movie", "DeleteMovie", new { movie.MovieId }, new { @class = "badge badge-danger" })</td>
            </tr>
        }
    </table>

</div>
